
html{
  background-color: #00d5ff;
  }
  body{
  background-color: rgb(13, 107, 196);
  font-size: 100%; text-align:center;
  width: 800px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 1em;}
  
  h1{color: rgb(43, 13, 179);}
  h3.question{
  font-size: 2em; 
  }
  
  .info{
  font-size: 1.5em;
  }
  .answer{
  background-color: #a0e8ea;
  color: rgb(35, 25, 135);
  border-radius: 10px;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  width: 60%;
  font-size: 1.5em; margin: 10px auto 0;
  }
  
  .answer:hover{
  background-color: cadetblue;
  }
  .answer::after{
    background-color: aquamarine;
  }

  .button{
  background-color: cadetblue;
  color: rgb(139, 21, 21);
  border-radius: 10px;
  padding: 10px 5px; text-align: center;
  cursor: pointer; font-size: 2em;}
  
  .button: hover{ background-color: #80b7b9;
  }
  .clearfix:before,
  .clearfix:after { content: " ";
  display: table;
  }
  .clearfix: after { clear: both;
  }
  .response p{
  margin: 50px auto; font-size: 3em;}
  .finish{
    background-color: #c61c47;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    width: 60%;
    font-size: 1.5em; margin: 80px auto 0;
    }

    .finish:hover{
      background-color: rgb(83, 7, 11);
      }